html,
body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../../../../../../resources/images/sugsithink.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
    ;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-bois:hover {
    color: #307b92 !important;
}

.dropdown-bois:focus {
    color: #31b0d5 !important;
}

.dropdown-bois:active {
    color: #31b0d5 !important;
}

.dropdown-menu {
    border: none !important;
}

.btn-info {
    background-color: #31b0d5;
}

.btn-info span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-info span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-info:hover span {
    padding-right: 25px;
}

.btn-info:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-info:active {
    background-color: #307B92;
    transform: translateY(4px);
}

.navbar-dark {
    background-color: rgba(28, 28, 28, .8);
}

.mastfoot {
    position: relative;
    bottom: 0 !important;
    width: 100%;
    color: rgba(255, 255, 255, .8) !important;
    background-color: rgba(28, 28, 28, .8);
    text-align: center;
    margin-bottom: -16px;
}

.footer-link {
    margin-top: 10px;
    padding: 15px;
}

.link-style {
    text-decoration: none !important;
    color: rgba(220, 220, 220, .8);
}

.link-style:hover {
    text-decoration: none !important;
    color: #31b0d5;
}

.navbar {
    width: 100%;
    z-index: 1;
    position: fixed;
}

.navbar-brand {
    margin-left: 47px;
}

.navbar-nav {
    margin-right: 47px;
}

.cont-top {
    margin-top: 40px;
}

.coming-soon-container {
    color: rgba(220, 220, 220, .8);
    width: 300px;
    padding: 20px;
}

.btn-outline-light {
    color: #fff;
    border-color: #31b0d5;
}

.btn-outline-light:hover {
    background-color: #31b0d5;
    color: #fff;
    border-color: #31b0d5;
}

.cover-heading {
    color: #31b0d5 !important;
    margin-top: 27px;
    text-shadow: .5px .5px #fff;
}

.intro-para {
    text-shadow: 1px 1px #31b0d5;
}

.card {
    border-color: #31b0d5;
    background-color: rgba(28, 28, 28, .6);
}

.card-deck {
    margin-top: 150px;
}

.card-title {
    color: #31b0d5;
}

.card-text {
    color: #fff;
}

.insta-border {
    color: #31b0d5;
    text-align: center;
    float: none;
    margin: 0 auto;
    height: 70px;
    width: 300px !important;
    background-color: rgba(28, 28, 28, .6);
}

.insta-text {
    line-height: 70px !important;
    color: #fff;
    font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        margin-left: 10px;
    }
    .navbar-nav {
        margin-right: 10px;
    }
    .card-deck {
        margin-top: 80px;
    }
    .card {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 579px) {
    .intro-para {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 575px) {
    .card-deck {
        margin-top: -10px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-button {
        font-size: 12px;
    }
}

@media only screen and (max-width: 467px) {
    .card-text {
        font-size: 12px;
    }
    .card-title {
        font-size: 18px;
    }
    .card-button {
        font-size: 10px;
    }
}

@media only screen and (max-width: 439px) {
    .cover-heading {
        font-size: 30px !important;
    }
    .intro-para {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 416px) {
    .cover-heading {
        font-size: 24px !important;
    }
    .intro-para {
        font-size: 14px !important;
    }
    .card-text {
        font-size: 11px;
    }
}

@media only screen and (max-width: 370px) {
    .footer-link {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 345px) {
    .cover-heading {
        font-size: 20px !important;
    }
    .intro-para {
        font-size: 12px !important;
    }
}