html, body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../resources/images/sugsithink.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-dark {
    background-color: rgba(28, 28, 28, .5);
}

.mastfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, .8) !important;
    background-color: rgba(28, 28, 28, .5) !important;
    text-align: center;
}

.footer-link {
    margin-top: 10px;
}

.link-style {
    text-decoration: none !important;
    color: rgba(220, 220, 220, .8);
}

.link-style:hover {
    text-decoration: none !important;
    color: #31b0d5;
}

.navbar-brand {
    margin-left: 47px;
}

.navbar-nav {
    margin-right: 47px;
}

.statement-heading {
    background-color: rgba(28, 28, 28, .6);
    border-color: #31b0d5;
}

.statement-container {
    display: flex;
    flex-direction: row;
}

.btn-outline-light {
    color: #fff;
    border-color: #31b0d5;
}

.btn-outline-light:hover {
    background-color: #31b0d5;
    color: #fff;
    border-color: #31b0d5;
}

.cover-heading {
    color: #31b0d5 !important;
    margin-top: 27px;
    text-shadow: .5px .5px #fff;
}

.intro-para {
    text-shadow: 1px 1px #31b0d5;
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        margin-left: 10px;
    }
    .navbar-nav {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 579px) {
    .intro-para {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 439px) {
    .cover-heading {
        font-size: 30px !important;
    }
    .intro-para {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 416px) {
    .cover-heading {
        font-size: 24px !important;
    }
    .intro-para {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 370px) {
    .footer-link {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 345px) {
    .cover-heading {
        font-size: 20px !important;
    }
    .intro-para {
        font-size: 12px !important;
    }
}