html, body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../../../resources/images/kam3viw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-bois:hover {
    color: #307b92 !important;
}

.dropdown-bois:focus {
    color: #31b0d5 !important;
}

.dropdown-bois:active {
    color: #31b0d5 !important;
}

.btn-info {
    background-color: #31b0d5;
}

.dropdown-menu {
    border: none !important;
}

.btn-gram {
    margin-top: 20px;
}

.navbar-dark {
    background-color: rgba(28, 28, 28, .5);
}

.navbar {
    width: 100%;
    box-sizing: content-box;
}

.navbar-toggler {
    margin-right: 35px;
}

.mastfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, .8) !important;
    background-color: rgba(28, 28, 28, .5);
    text-align: center;
}

.footer-link {
    margin-top: 10px;
}

.overlayd {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #31b0d5
}

.instafeed {
    background-color: rgba(28, 28, 28, .6);
}

.insta-border {
    color: #31b0d5;
    text-align: center;
    float: none;
    margin: 0 auto;
    height: 70px;
    width: 300px !important;
}

.container:hover .overlayd {
    opacity: .8;
}

.link-style {
    text-decoration: none !important;
    color: rgba(220, 220, 220, .8);
}

.link-style:hover {
    text-decoration: none !important;
    color: #31b0d5;
}

.insta-text {
    line-height: 70px !important;
    color: #fff;
}

.text {
    color: black;
    font-size: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-weight: 900;
}

.button-overlay {
    margin-top: 20px !important;
    text-align: center;
}

.container-img {
    position: relative;
    /* width: 50%; */
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    /* height: auto; */
}

.navbar {
    margin-top: -24px;
}

.navbar-brand {
    margin-left: 47px;
}

.navbar-nav {
    margin-right: 47px;
}

.statement-heading {
    background-color: rgba(28, 28, 28, .6);
    border-color: #31b0d5;
}

.statement-container {
    display: flex;
    flex-direction: row;
}

.coming-soon-container {
    color: rgba(220, 220, 220, .8);
    width: 300px;
    padding: 20px;
}

.btn-outline-light {
    color: #fff;
    border-color: #31b0d5;
}

.btn-outline-light:hover {
    background-color: #31b0d5;
    color: #fff;
    border-color: #31b0d5;
}

.cover-heading {
    color: #31b0d5 !important;
    margin-top: 27px;
    text-shadow: .5px .5px #fff;
}

.intro-para {
    text-shadow: 1px 1px #31b0d5;
}

.card {
    border-color: #31b0d5;
    background-color: rgba(28, 28, 28, .6);
}

.card-deck {
    margin-top: 150px;
}

.card-title {
    color: #31b0d5;
    /* text-shadow: .5px .5px #fff; */
}

.card-text {
    color: #fff;
    /* text-shadow: 1px 1px #31b0d5; */
}

@media only screen and (max-width: 767px) {
    .ml-auto {
        margin-right: auto !important;
    }
    .mr-auto {
        margin-left: auto !important;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .navbar-nav {
        margin-right: 10px;
    }
    .card-deck {
        margin-top: 80px;
    }
    .card {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 579px) {
    .intro-para {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 575px) {
    .card-deck {
        margin-top: -10px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-button {
        font-size: 12px;
    }
}

@media only screen and (max-width: 467px) {
    .card-text {
        font-size: 12px;
    }
    .card-title {
        font-size: 18px;
    }
    .card-button {
        font-size: 10px;
    }
}

@media only screen and (max-width: 439px) {
    .cover-heading {
        font-size: 30px !important;
    }
    .intro-para {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 416px) {
    .cover-heading {
        font-size: 24px !important;
    }
    .intro-para {
        font-size: 14px !important;
    }
    .card-text {
        font-size: 11px;
    }
}

@media only screen and (max-width: 370px) {
    .footer-link {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 345px) {
    .cover-heading {
        font-size: 20px !important;
    }
    .intro-para {
        font-size: 12px !important;
    }
}